html, body{
  color: #333;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  z-index: -1;
}

#content p, a {
  color: inherit;
}
